a,
a:hover {
    color: black;
    text-decoration: none;
}

.left_col {
    background: white;
    width: 100%;
    max-width: 200px;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    overflow: hidden;
    height: calc(100vh - 60px);
    min-height: 600px;
}

.left_menu {
    margin-top: 30px;
}

.link_li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding-left: 10px;
    color: black !important;
}

.link_li > a {
    color: black !important;
}

.menu_icon {
    margin-right: 10px;
}

.link_active {
    background: #d6e2fd;
    border-right: solid 3px rgba(46, 88, 255, 1);
}

.link_active > a {
    color: rgba(46, 88, 255, 1)!important;
}
